.container {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.accordianSummary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.racePicks {
  margin-bottom: 2rem;
}
