.nameContainer {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
  margin: 1rem 0;
}

.themeToggleContainer {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
  align-items: center;
}
