.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  padding-bottom: 3rem;

  > * {
    text-align: center;
  }
}

.heading {
  text-align: center;
}

.button {
  padding: 3rem 0;
}
