.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.leaguesContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
}

.leagueSubmitContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: baseline;
}
