.container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  width: 100%;
}

.leagueSubmitContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: baseline;
}

.inviteCode {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
