.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: flex-start;

  @media (max-width: 600px) {
    justify-content: center;
  }
}

.heading {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.raceTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 600px) {
    flex-direction: column;
    align-items: flex-start;
  }
}
