.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.layout {
  max-width: 600px;
  width: 90%;
  min-height: 100vh;
  min-height: 100svh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;

  @media (max-width: 600px) {
    padding-top: calc(56px + 1rem);
  }
}
