.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.layout {
  max-width: 600px;
  width: 90%;
  margin-top: calc(64px + 1rem);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  @media (max-width: 600px) {
    margin-top: calc(56px + 1rem);
  }
}
