.loadingContainer {
  min-height: 100vh;
  min-height: 100svh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.fadeIn) {
  animation: fade-in 0.5s ease 0s forwards, slide-in 0.5s ease 0s forwards;
}

:global(.fadeInTop) {
  animation: fade-in 0.5s ease 0s forwards, slide-in-top 0.5s ease 0s forwards;
}

:global(.fadeInListDelay) {
  animation: fade-in 0.5s ease 0s forwards, slide-in 0.5s ease 0s forwards;
  opacity: 0;
}

@for $i from 1 through 1000 {
  :global(.fadeInListDelay):nth-child(#{$i}) {
    animation-delay: #{$i * 50}ms;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-in {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slide-in-top {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(0);
  }
}
